.SnackBar {
  border-radius: 4px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px rgba(0,0,0,.14),0 1px 18px rgba(0,0,0,.12);
  color: $white;
  font-size: 14px;
  line-height: 18px;
  margin: auto;
  padding: 14px 16px;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 16px;
  min-width: 288px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}

@media screen and (max-width: 400px) {
  .SnackBar {
      min-width:unset;
      width: calc(100% - 32px)
  }
}

.SnackBar--notice {
  background-color: $black
}

.SnackBar--alert {
  background-color: #ff4949
}